.l-content.information
  %p
    Welcome world

.l-content.information.pure-g
  .pure-u-1
    %table.pure-table.pure-table-striped{style: "width: 100%;"}
      %thead
        %tr
          %th ID
          %th Title
          %th Subtitles
          %th # locks
      %tbody.list
        - Station.each do |station|
          %tr
            %td
              %a{href: "/#{station.station_id}"}
                = station.station_id
            %td
              = station.title
            %td
              = station.subtitle
            %td
              = station.number_of_locks
